PORT=8081

DATABASE_URL=jdbc:postgresql://127.0.0.1:5432/chatterbox?sslmode=disable
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=replace-me

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

KEYCLOAK_ISSUER_URI=http://127.0.0.1:8080/realms/chatterbox

GIPHY_API_KEY=replace-me
GIPHY_SEARCH_URL=https://api.giphy.com/v1/gifs/search

CHATTERBOX_FRONTEND_URL=http://localhost:3000
CHATTERBOX_WIDGET_URL=http://127.0.0.1:5500/chatterbox.js

DDL_AUTO=update